* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
}

body {
    background-color: var(--main-bg);
    color: var(--text-main);
}

ul {
    list-style-type: none;
}

:root {
    --main-bg:#f4f4f4;
    --black-1: #0e0e0e;
    --black-2: #3e3e3e;
    --gray-1: #9b9b9b;
    --gray-2:rgb(186, 186, 186);
    --text-main:#000000;
}

body.dark-theme {
    --main-bg:#2f2f2f;
    --black-1: #0e0e0e;
    --black-2: #2e2e2e;
    --gray-1: #444444;
    --gray-2:rgb(75, 75, 75);
    --text-main: #fff;
}